# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
virtualenv/
env/
venv/

# IDE / Editor specific
.vscode/
.idea/

# Logs and data output
logs/

tuning_results/
*.csv
*.xml
*.png
*.pth
